<app-header [header]="pageHeader"></app-header>
<section class="tiles">
  <div class="col-left">
    <div class="nowrap-row">
      <div class="tile small"><img src="../../../assets/img/photo-main-little1.png"></div>
      <div class="tile small"><img src="../../../assets/img/photo-main-little2.png"></div>
    </div>
    <div class="tile medium"><img src="../../../assets/img/photo-main-medium.png"></div>
  </div>
  <div class="tile big">
    <div class="frame">
      <p class="light">Less is more</p>
      <p>Minimalism</p>
    </div>
  </div>
</section>
