<app-header [header]="pageHeader"></app-header>

<section class="gallery">
  <div class="square"><img src="../../../assets/img/man1.jpg"></div>
  <div class="square"><img src="../../../assets/img/photo-main-little1.png"></div>
  <div class="square"><img src=""></div>
  <div class="square"><img src="../../../assets/img/photo-main-large.png"></div>
  <div class="square"><img src="../../../assets/img/glass.jpg"></div>
  <div class="square"><img src="../../../assets/img/marble.jpg"></div>
  <div class="square"><img src=""></div>
  <div class="square"><img src="../../../assets/img/man2.jpg"></div>
  <div class="square"><img src="../../../assets/img/brick.jpg"></div>
  <div class="square"><img src="../../../assets/img/man3.jpg"></div>
  <div class="square"><img src=""></div>
  <div class="square"><img src="../../../assets/img/photo-main-little2.png"></div>
  <div class="square"><img src="../../../assets/img/photo-main-little1.png"></div>
  <div class="square"><img src="../../../assets/img/man4.jpg"></div>
  <div class="square"><img src=""></div>
  <div class="square"><img src="../../../assets/img/photo-main-medium.png"></div>
  <div class="square"><img src="../../../assets/img/glass.jpg"></div>
  <div class="square"><img src="../../../assets/img/man5.jpg"></div>
</section>
