@import '../../../assets/css/mixins-and-variables';

.gallery {
  margin: 70px 0;
  @include display-flex;
  .square {
    height: $inside-width/3.2;
    width: $inside-width/3.2;
    background-color: #d9d9dd;
    margin: 10px;
    overflow: hidden;
    img {
      margin: -90px -50px 0 0;
      height: 150%;
    }
  }
}
.modal {
  content: "";
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  @include display-flex;
  flex-direction: column;
  display: none;
  .close {
    width: 50px;
    height: 50px;
    margin: auto;
    &:hover {
      cursor:pointer;
    }
  }
  .main-image {
    height: 70vh;
    width: auto;
    margin: auto;
  }
}

@media only screen and (max-width: 1608px) {
  .gallery {
    justify-content: center;
    .square {
      height: $inside-width/3.35;
      width: $inside-width/3.35;
    }
  }
}
/* tablet */
@media only screen and (max-width: 940px) {
  .gallery {
    .square {
      height: $inside-width/2.2;
      width: $inside-width/2.2;
    }
  }
}
@media only screen and (max-width: 755px) {
  .gallery {
    .square {
      height: $inside-width;
      width: $inside-width;
    }
  }
}
