@import '../../../assets/css/mixins-and-variables';

.architects {
  margin: 50px 0;
  position: absolute;
  width: $inside-width;
  height: auto;
  ul {
    @include display-flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 220px;
    li{
      width: 8vw;
      height: 8vw;
      border-radius: 50%;
      background-color: #4b4b4b;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
button {
  width: 400px;
  height: 80px;
  margin-top: -50px;
  padding: 10px auto;
  @include roboto-light;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #ffffff;
  border: solid 3px #4b4b4b;
}
.projects {
  text-align: center;
  ul {
    @include display-flex;
    justify-content: center;
    padding: 5vw 0;
    li {
      margin: 5px;
      border: solid 6px #dedede;
      img {
        width: inherit;
        height: inherit;
      }

    }
  }
}
.size-little {
  width: 17vw;
  height: 22vw;
}
.size-medium {
  width: 44vw;
  height: 22vw;
}
.size-large {
  width: 62.5vw;
  height: 43vw;
}

@media only screen and (max-width: 1608px) {
  .architects ul li {
    width: 10.5vw;
    height: 10.5vw;
    min-width: 90px;
    min-height: 90px;
  }
  button {
    width: 300px;
  }
  .size-little {
    width: 27vw;
    height: 29vw;
  }
  .size-medium {
    width: 70vw;
    height: 30vw;
  }
  .size-large {
    width: 70vw;
    height: 60vw;
  }
}
@media only screen and (max-width: 755px) {
  .architects {
    width: 84vw;
  }
  button {
    width: 270px;
    height: 65px;
  }
}
@media only screen and (max-width: 600px) {
  .architects ul li {
    min-width: 79px;
    min-height: 79px;
  }
  button {
    width: 255px;
    height: 58px;
    font-size: 17px;
  }
}
/*mobile*/
@media only screen and (max-width: 489px) {
  .architects {
    width: 80vw;
    margin: 26px 0 30px 0;
    ul {
      height: 80px;
      li {
        min-width: 65px;
        min-height: 65px;
        margin: 0 14px;
      }
    }
  }
  button {
    width: 230px;
    height: 51px;
    font-size: 15px;
    border-width: 2px;
  }
}
@media only screen and (max-width: 390px) {
  button {
    width: 219px;
    height: 46px;
    font-size: 14px;
  }
}
