<app-header [header]="pageHeader"></app-header>

<section class="architects">
  <ul>
    <li><img src="../../../assets/img/man1.jpg"></li>
    <li><img src="../../../assets/img/man2.jpg"></li>
    <li><img src="../../../assets/img/man3.jpg"></li>
    <li><img src="../../../assets/img/man4.jpg"></li>
    <li><img src="../../../assets/img/man5.jpg"></li>
  </ul>
</section>
<section class="description">
  <h3>Daniel Libeskind</h3>
  <p>
    The observation that old windows are sometimes found to be thicker at the bottom than at the top is often offered as supporting evidence for the view that glass flows over a timescale of centuries, the assumption being that the glass has exhibited the liquid property of flowing from one shape to another.
  </p><p>
  This assumption is incorrect, as once solidified, glass stops flowing. The reason for the observation is that in the past, when panes of glass were commonly made by glassblowers, the technique used was to spin molten glass so as to create a round, mostly flat and even plate (the crown glass process, described above).
</p><p>
  This plate was then cut to fit a window. The pieces were not absolutely flat; the edges of the disk became a different thickness as the glass spun.
</p>

</section>
<section class="projects">
  <button>Projects</button>
  <ul>
    <li class="size-medium"><img src="../../../assets/img/photo-main-little1.png"></li>
    <li class="size-little"><img src="../../../assets/img/photo-main-large.png"></li>
    <li class="size-little"><img src="../../../assets/img/photo-main-little2.png"></li>
    <li class="size-medium"><img src="../../../assets/img/photo-main-medium.png"></li>
    <li class="size-large"><img src="../../../assets/img/photo-main-little2.png"></li>
  </ul>
</section>
