<app-header [header]="pageHeader"></app-header>

<section class="architects">
  <ul>
    <li *ngFor="let architect of architects; let i = index" (click)="changeContent(i)"><img src="{{architect.portraitUrl}}"></li>
  </ul>
</section>
<section class="description">
  <h3></h3>
  <p></p>
</section>
<section class="projects">
  <button>Projects</button>
  <ul>
    <li class="size-medium"><img src="../../../assets/img/photo-main-little1.png"></li>
    <li class="size-little"><img src="../../../assets/img/photo-main-large.png"></li>
    <li class="size-little"><img src="../../../assets/img/photo-main-little2.png"></li>
    <li class="size-medium"><img src="../../../assets/img/photo-main-medium.png"></li>
    <li class="size-large"><img src="../../../assets/img/photo-main-little2.png"></li>
  </ul>
</section>
